<ion-view view-title="Cadastrar novo veículo">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input ng-model="placa" type="text" placeholder="Placa">
      </label>
      <label class="item item-input">
        <input ng-model="modelo" type="text" placeholder="Modelo">
      </label>
      <label class="item item-input">
        <input ng-model="dono" type="text" placeholder="Dono">
      </label>
      <button ng-click="cadastrarVeiculo()" class="button button-block button-positive">
        Salvar
      </button>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
